/* Space out content a bit */
body {
  overflow: hidden;
}

#calculator .logo {
  background: url(/images/ffp.png);
  width: 100%;
  background-position: center, center;
  height: 150px;
  background-repeat: no-repeat;
}

#calculator .title, .subtitle {
  width: 100%;
  color: #fff;
  text-align: center;

}

#calculator .title {
  font-size: 90px;
  font-family: 'BenchNine', sans-serif;  
  text-shadow: 0px 0px 8px #000;
}

#calculator .subtitle {
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
  padding-top: 30px;
    text-shadow: 2px 2px 8px #000;
}

#calculator button {
  background-color: rgba(0,0,0,0.8);
  border: solid 1px #fff;
  color: #fff;
  font-size: 72px;
  font-family: 'BenchNine', sans-serif;
    background: rgb(105,145,198);
    background: -moz-linear-gradient(top, rgba(105,145,198,1) 0%, rgba(41,77,117,1) 36%, rgba(14,17,56,1) 100%);
    background: -webkit-linear-gradient(top, rgba(105,145,198,1) 0%,rgba(41,77,117,1) 36%,rgba(14,17,56,1) 100%);
    background: linear-gradient(to bottom, rgba(105,145,198,1) 0%,rgba(41,77,117,1) 36%,rgba(14,17,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6991c6', endColorstr='#0e1138',GradientType=0 );
    font-weight: 300;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 20px;
    text-shadow: 0 0 10px #000;
    box-shadow: 2px 2px 8px #000;
}

#calculator div.splash_button {
  margin-right: auto;
  margin-left: auto;
  width: initial;
  text-align: center;
}

#calculator div.question, div#results_header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 72px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
  text-shadow: 0 0 4px #000;
}


#calculator div#results_header {
  height: 200px;
  font-family: Lato;
  font-size: 60px;
  text-align: center;
  font-weight: 200;
  text-shadow: 0 0 8px #000;
  letter-spacing: -4px;
}

#calculator div.answer, div#tips_header {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #fff;
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  clear: none;
  text-align: center;
  text-shadow: 0 0 4px #000;
  margin-bottom: 30px;
}

#calculator div.answer img {
  box-shadow: 0 0 0px rgba(0,0,0,0);
  transition: 2s;
  background-color: rgba(255,255,255,0);
}

#calculator div.answer img:hover {
  box-shadow: 0 0 50px #fff;
  background-color: rgba(255,255,255,0.4);
  transition: 2s;
}

#calculator div#tips_header {
    font-size: 40px;
    text-shadow: 0 0 8px rgba(1,68,33, 0.7);
    font-weight: 300;
}

#calculator div.checkbox {
  width: 20px;
  height: 20px;
  border: solid 3px #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  clear: none;
  float: left;
  margin-top: 2px;
  margin-right: 20px;
  transition: 1s;
    background-position: center center;
  background-size: 100%;
}

#calculator div.checkbox.checked {
  background-image: url(http://calculator.fullfootprint.org/images/ic_done_white_24dp.png);
  background-position: center center;
  background-size: 100%;
  transition: 1s;
}

#calculator div.answer.a4_5, div.answer.a5_5 , div.answer.a1_4, div.answer.a3_4, , div.answer.a2_4, div.answer.a4_4 {
    width: 30%;
}
#calculator div.answer.a4_5, div.answer.a1_4, div.answer.a3_4 {
    margin-left: 15%;
    margin-right: 5%;
}
#calculator div.answer.a5_5, div.answer.a2_4, div.answer.a4_4 {
    margin-left: 5%;
    margin-right: 15%;
}

#calculator div#tips_header {
  width: 100%;
  margin-top: 100px;
}

#calculator div.answer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#calculator div.results_ocontainer {
    width: 295px;
  height: 295px;
  display: block;
  float: none;
  clear: none;
  display: inline-block;  
}

#calculator div.results_container {
    width: 295px;
  height: 295px;
  display: table;
    position: absolute;
}

#calculator div.results_vcontainer {
    width: 295px;
  height: 295px;
    display: table-cell;
    vertical-align: middle;
}

#calculator div.results {
  margin: auto;
  float: none;
  clear: none;
  background-repeat: no-repeat;
  background-position: center center;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100%;
        border: solid 2px rgba(255,255,255,0.5);
            font-size: 40px;
    text-align: center;
    color: #fff;
    //padding-top: 140px;
    //padding-top: 15%;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 295px;
}
#calculator span.results_text {
    vertical-align: middle;
    //height: inherit;
    //text-align: center;
    //width: inherit;
    //height: 100%;
    //width: 100%;
    //line-height: 90%;
    display: inline-block;
    line-height: normal;
    text-shadow: 0 0 4px #000;
    line-height: 22px;
}

#calculator div#results_display {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#calculator div.grow {
  transition: 2s;
}

#calculator div.air {
  background: url(http://calculator.fullfootprint.org/images/air.png), rgba(0, 102, 204,0.8);
}
#calculator div.land {
  background: url(http://calculator.fullfootprint.org/images/land.png), rgba(102, 102, 51,0.8);
}
#calculator div.water {
  background : url(http://calculator.fullfootprint.org/images/water.png), rgba(0, 153, 153,0.8);
}

#calculator #tips {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

#calculator #tips ul li {
  list-style: none;
  font-weight: 300;
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(1,68,33, 0.7);
}

#calculator #tips ul li.offset {
  font-weight: 700;
  text-shadow: 0 0 8px rgba(1,68,33, 1);
}

#calculator .fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
    //background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/images/splash.jpg);
    //background-size: cover, cover;
    //background-attachment: fixed;
    z-index: 3000;
}

#calculator {
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/images/splash.jpg);
    background-size: cover, cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2999;
}
#calculator .fade.ng-enter,
#calculator .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
#calculator .fade.ng-enter {
    opacity: 0;
}
#calculator .fade.ng-enter-active {
    opacity: 1;
}
#calculator .fade.ng-leave {
    opacity: 1;
}
#calculator .fade.ng-leave-active {
    opacity: 0;
}
#calculator .bubble_subtitles {
  font-size: 16px;
  line-height: 18px;
  display: block;
}
#calculator div.offset {
  margin-bottom: 30px;
}
#calculator div.offset div {
    margin-left: 5%;
    margin-right: 5%;
    width: 22%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid 3px rgba(255,255,255, 0.9);
    background: rgba(255,255,255, 0.4);
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    clear: none;
    margin-bottom: 30px;
    text-shadow: 0 0 5px rgba(1,68,33, 1);
    transition: 2s;
}

#calculator div.offset div:hover {
  transition: 2s;
  text-shadow: 0 0 20px rgba(1,68,33, 1);
  background: rgba(250,250,250, 0.7);
}

#calculator div#tips_header {
  margin-left: 0px;
  margin-right: 0px;
}

#calculator div.imgbg {
  background-image: url(http://calculator.fullfootprint.org/images/whitebg.png);
  width: 253px;
  height: 176px;
  margin: auto;
}

#calculator div.imgbg img{
  opacity: 1;
}

#calculator div.imgbg img:hover{
  opacity: 0.7;
}


#calculator .fade-in-and-out {
  -webkit-animation: fade-in-and-out 4s 1;
  animation: fade-in-and-out 4s 1;
  opacity: 1;
}

@-webkit-keyframes fade-in-and-out {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#calculator .flash_this {
  opacity: 1;
  -webkit-animation: fade-in-and-out 1s 1;
  animation: fade-in-and-out 1s 1;
}

#calculator .fade-element-in {
  position: absolute;
  width: 100%;
}

#calculator .fade-element-in.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

#calculator .fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

#calculator .fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

#calculator .fade-element-in.ng-leave {
  transition: 1s linear all;
  opacity: 1;
}

#calculator .fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}

#offsetwindow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3001;
    transition: 1s;
}

#appFooter {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0px;
  text-align: center;
}

#offsetwindowframe {
  width: 100%;
  height: 1000px;
}

@media (max-width: 450px) { 
    #calculator div.answer {
      width: 100%;
      float: left;
      clear: both;
    }
}


