/* Space out content a bit */
body {
  background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/images/splash.jpg);
  background-size: cover, cover;

}

.logo {
  background: url(/images/ffp.png);
  width: 100%;
  background-position: center, center;
  height: 150px;
  background-repeat: no-repeat;
}

.title, .subtitle {
  width: 100%;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 90px;
  font-family: 'BenchNine', sans-serif;  
}

.subtitle {
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
}

button {
  background-color: rgba(0,0,0,0.8);
  border: solid 1px #fff;
  color: #fff;
  font-size: 72px;
  font-family: 'BenchNine', sans-serif;
}

div.splash_button {
  margin-right: auto;
  margin-left: auto;
  width: initial;
  text-align: center;
}

div.question, div#results_header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 72px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
  text-shadow: 0 0 4px #000;
}

div#results_header {
  height: 200px;
}

div.answer, div#tips_header {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #fff;
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  clear: none;
  text-align: center;
  text-shadow: 0 0 4px #000;

}

div#tips_header {
  width: 100%;
  margin-top: 100px;
}
div.answer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.results {

}
div.results_ocontainer {
    width: 295px;
  height: 295px;
  display: block;
  float: none;
  clear: none;
  display: inline-block;  
}
div.results_container {
    width: 295px;
  height: 295px;
  display: table;
    position: absolute;
}

div.results_vcontainer {

    width: 295px;
  height: 295px;
    display: table-cell;
    vertical-align: middle;
}

div.results {
  margin: auto;
  float: none;
  clear: none;
  background-repeat: no-repeat;
  background-position: center center;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100%;
        border: solid 2px rgba(255,255,255,0.5);
            font-size: 40px;
    text-align: center;
    color: #fff;
    //padding-top: 140px;
    //padding-top: 15%;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 295px;
}
span.results_text {
    vertical-align: middle;
    //height: inherit;
    //text-align: center;
    //width: inherit;
    //height: 100%;
    //width: 100%;
    //line-height: 90%;
    display: inline-block;
    line-height: normal;
    text-shadow: 0 0 4px #000;
    line-height: 22px;
}

div#results_display {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}



div.air {
  background: url(/images/air.png), rgba(0, 102, 204,0.8);

}
div.land {
  background: url(/images/land.png), rgba(102, 102, 51,0.8);
}
div.water {
  background : url(/images/water.png), rgba(0, 153, 153,0.8);
}

#tips {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

#tips ul li {
  list-style: none;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
.bubble_subtitles {
  font-size: 16px;
  line-height: 18px;
  display: block;
}
